
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');

main {
    display: flex;
    flex-flow: column wrap;
    min-width: 600px;
    max-width: 600px;
    min-height: 600px;
    max-height: 600px;

    
}

body {
    display: flex;
    flex-flow: column wrap-reverse;
    background-color: rgba(233, 240, 242, 0.79);
    align-content: center;
    
}

h1 {
    font-family: 'Exo';
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    letter-spacing: 1mm;
    line-height: .5;
    text-shadow: 0 0 0.09em rgba(0, 0, 0, 0.701), 0 0 0.2em #0560fe, 0 0 0.3em #95defe;
    transform: skew(-5deg);
}


.titleBox {
    /* background-color: rgba(0, 102, 255, 0.8); */
    margin: auto;
    display: flex;
    justify-content: center;
    min-width: 315px;
    max-height: 50px;
}

.flex-container {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-flow: wrap-reverse row-reverse;
    align-content: space-between;
    min-width: 325px;
    max-width: 325px;
    min-height: 310px;
    max-height: 310px;
}

.box {
    border: 0px solid black;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 2px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxZero {
   
    order: 8;
}

#boxOne {
   
    order: 7;
}

#boxTwo {
  
    order: 6;
}

#boxThree {
    
    order: 5;
}

#boxFour {
   
    order: 4;
}

#boxFive {
   
    order: 3;
}

#boxSix {
    
    order: 2;
}

#boxSeven {
   
    order: 1;
}

#boxEight {

    order: 0;
}

.reset {
    color: rgb(255, 255, 255);
    letter-spacing: .5mm;
    display: flex;
    line-height: 2.2;
    justify-content: center;
    width: 125px;
    height: 30px;
    margin: auto;
    background-color: rgba(0, 102, 255, 0.9);
    border: none;
    font-family: 'Exo';
    text-shadow: 0 0 0.09em rgba(0, 0, 0, 0.701), 0 0 0.2em #0560fe, 0 0 0.3em #95defe;

}
 .pic{
    position: absolute;
    top: auto;
    bottom: center;
    left: auto;
    right: auto;
    z-index: -1;
    opacity: 99%;
    min-width: 600px;
    max-width: 600px;
    min-height: 600px;
    max-height: 600px;
}